:root {
  --sidebar-bg-color: #1e7cd4;
  --main-text-color: #1b1818;
  --secondary-text-color: #ffffff;
  --other-text-color: #6d6b6b;
  --main-bg-color: #e8e8f1;
  --sec-bg-color: #ffffff;
}

h4, h5 {
  margin: 0;
  padding: 4px;
}

a {
  color: white;
  text-decoration: none;
}

#layout-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 0.7fr 5fr 0.25fr;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

#sidebar {
  grid-row: span 2;
  background-color: var(--sidebar-bg-color, blue);
}

#sidebar li {
  list-style: none;
}

#header-bottom, #header-top {
  display:flex;
  gap: 15px;
  padding: 10px;
}

#search {
  flex: 0.5;
}

#notif {
  margin-left: auto;
}

#greeting {
  display: flex;
}

#header-bottom button:first-of-type {
  margin-left: auto;
}

#header-bottom button {
  height: fit-content;
}

#content-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 2em;
  background-color: var(--main-bg-color, white);
  padding: 1.5em 2em;
}

#projects {
  grid-row: span 2;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap: 2em;
}

.cards {
  border-radius: 6px;
  box-shadow: 8px 0px rgb(255, 189, 7) inset,
              2px 2px 1px rgb(199, 196, 196);
  height: 175px;
  background-color: var(--sec-bg-color, white);
  padding: 2em;
}

.content {
  color: var(--other-text-color, gray);
  font-size: 14px;
  padding: 4px;
}

#announcements {
  background-color: var(--sec-bg-color);
  border-radius: 6px;
  box-shadow: 2px 2px 1px rgb(199, 196, 196);
  padding: 1.5em 1em;
}

#footer {
  grid-column: span 2;
  display: grid;
  align-items: center;
}

#footer div {
  text-align: center;
  background-color: var(--other-text-color, black);
  color: #ffffff;
}


