:root {
  --sidebar-bg-color: #1e7cd4;
  --main-text-color: #1b1818;
  --secondary-text-color: #ffffff;
  --other-text-color: #6d6b6b;
  --main-bg-color: #e8e8f1;
  --sec-bg-color: #ffffff;
}

h2, h4, h5 {
  margin: 0;
  padding: 4px;
}

a {
  color: white;
  text-decoration: none;
}

#layout-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

#sidebar {
  grid-row: span 2;
  background-color: var(--sidebar-bg-color, lightblue);
  color: var(--secondary-text-color, white);
  font-size: 20px;
}

#sidebar > .head {
  padding: 1em;
}

#sidebar li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

#sidebar a:hover {
  text-decoration: underline;
}

#header {
  padding: 1em 2em;
}

#header-bottom, #header-top {
  display:flex;
  gap: 15px;
  padding: 10px;
}

label[for='search'] {
  display: flex;
  align-items: center;
}

#search {
  flex: 0.5;
  border-radius: 15px;
  background-color: var(--main-bg-color, lightgray);
  border: none;
  padding: 6px 10px;
}

#notif {
  margin-left: auto;
  border: none;
  background-color: var(--sec-bg-color, white);
}

#notif:hover {
  transition: color 0.5s;
  color: var(--sidebar-bg-color, blue);
  cursor: pointer;
}

#greeting {
  display: flex;
}

#header-bottom button:first-of-type {
  margin-left: auto;
}

#header-bottom button {
  height: fit-content;
  background-color: var(--sidebar-bg-color, lightblue);
  color: var(--secondary-text-color);
  border-radius: 40px;
  border: none;
  padding: 10px 1.5em;
  transition: background-color 0.5s;
}

button:active {
  transform: scale(1.1);
}

#header-bottom button:hover {
  background-color: var(--main-bg-color, lightgray);
  color: var(--sidebar-bg-color, lightblue);
  cursor: pointer;
}

#content-container {
  display: grid;
  grid-template-columns: 10fr 3fr;
  grid-template-rows: auto 1fr;
  gap: 2em;
  background-color: var(--main-bg-color, lightgray);
  padding: 1.5em 2em;
}

#projects {
  grid-row: span 2;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2em;
}

.cards {
  border-radius: 6px;
  box-shadow: 8px 0px rgb(255, 189, 7) inset,
              3px 3px 1px rgb(199, 196, 196);
  height: 200px;
  background-color: var(--sec-bg-color, white);
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.content {
  color: var(--other-text-color, gray);
  font-size: 14px;
  padding: 4px;
  flex: 1;
}

.cards .buttons {
  margin-left: auto;
  display: flex;
  gap: 1.5em;
  text-align: center;
}

.buttons > .material-symbols-outlined {
  font-size: 18px;
  color: #3d3c3c;
  cursor: pointer;
}

#announcement, #trending {
  display: flex;
  flex-direction: column;
}

#announcements, #trends{
  background-color: var(--sec-bg-color);
  border-radius: 6px;
  box-shadow: 4px 4px 2px rgb(199, 196, 196);
  padding: 1.5em 1em;
  flex-shrink : 1;
}

.project {
  color: var(--other-text-color, lightgray);
}

#footer {
  grid-column: span 2;
  display: grid;
  align-items: center;
  background-color: var(--other-text-color, black);
  color: #ffffff;
}

#footer div {
  text-align: center;
}


